:root {
    --background: rgb(72, 105, 119);
    --header-background: rgb(171, 203, 231);
    --footer-background: rgb(243, 242, 242);
}

body {
    height: 100vh;
    font-family: 'Rubik', san-serif;
    background: var(--background);
    display: grid;
    grid-template-rows: auto 1fr auto;
    border: 2px solid green;
}

header {
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: var(--header-background);
}

main {
    padding: 20px;
}

footer {
    position: sticky;
    bottom: 0;
    padding: 7px 20px;
    font-size: .8em;
    display: flex;
    justify-content: flex-end;
    background-color: var(--footer-background);
}

#city-name-input {
margin: 25px
}

#slogan-input {
    margin: 25px;
}

#city-name-display {
    text-align: center;
    font-size: large;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color:cadetblue;
    display: flex;
    justify-content: center;
    align-items: center;
}

#add-slogan-button {
    color: rgb(191, 219, 222);
    background-color:rgb(53, 116, 210);
    font-size: 10px;
    padding: 4px;
    border-radius: 12px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    /* background-image: linear-gradient(to right, rgb(28, 110, 164) 0%, rgb(35, 136, 203) 50%, rgb(20, 78, 117) 100%); */
    cursor: pointer;
}
#add-slogan-button:hover {
    background: #1C6EA4;
}

#add-slogan-button:active {
    background: #144E75;
}

#add-city-button {
    color: rgb(177, 218, 225);
    background-color:rgb(54, 111, 168);
    font-size: 10px;
    padding: 4px;
    border-radius: 9px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    /* background-image: linear-gradient(to right, rgb(28, 110, 164) 0%, rgb(35, 136, 203) 50%, rgb(20, 78, 117) 100%); */
    cursor: pointer;
}
#add-city-button:hover {
    background: #1C6EA4;
}

#add-city-button:active {
    background: #144E75;
}

#slogan-display {
color: cadetblue;
font-size: 20px;
display: flex;
justify-content: center;
align-items: center;
margin-top: 20px;
}

#display-stats {
color: cadetblue;
font-size: 20px;
display: flex;
justify-content: center;
align-items: center;
margin-top: 20px;
}